name: ai_code_sync
description: AI Code Sync - 同步AI生成的代码到GitHub
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: '>=3.0.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  flutter_localizations:
    sdk: flutter
  collection: ^1.15.0


  http: any
  shared_preferences: any
  provider: any
  cupertino_icons: any
  file_picker: any
  path_provider: any
  permission_handler: any
  archive: any
  open_filex: any
  background_downloader: any


dev_dependencies:



  flutter_test:
    sdk: flutter
  flutter_lints: any

flutter:
  uses-material-design: true