name: Build Android APK

on:
  workflow_dispatch:
    inputs:
      build_type:
        description: '构建类型'
        required: true
        default: 'release'
        type: choice
        options:
          - debug
          - release

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      
      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: '17'
      
      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
      
      - name: Create Flutter project structure
        run: |
          cp -r lib lib_backup
          cp pubspec.yaml pubspec_backup.yaml
          flutter create --platforms=android .
          rm -rf lib
          mv lib_backup lib
          mv pubspec_backup.yaml pubspec.yaml
      
      # 添加网络权限
      - name: Add Internet permission
        run: |
          sed -i 's/<manifest xmlns:android/<uses-permission android:name="android.permission.INTERNET"\/>\n<manifest xmlns:android/' android/app/src/main/AndroidManifest.xml
          sed -i 's/<manifest xmlns:android/<manifest xmlns:android/' android/app/src/main/AndroidManifest.xml
          
          # 直接重写 AndroidManifest.xml
          cat > android/app/src/main/AndroidManifest.xml << 'EOF'
          <manifest xmlns:android="http://schemas.android.com/apk/res/android">
              
              <uses-permission android:name="android.permission.INTERNET"/>
              
              <application
                  android:label="AI Code Sync"
                  android:name="${applicationName}"
                  android:icon="@mipmap/ic_launcher"
                  android:usesCleartextTraffic="true">
                  
                  <activity
                      android:name=".MainActivity"
                      android:exported="true"
                      android:launchMode="singleTop"
                      android:taskAffinity=""
                      android:theme="@style/LaunchTheme"
                      android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
                      android:hardwareAccelerated="true"
                      android:windowSoftInputMode="adjustResize">
                      
                      <meta-data
                          android:name="io.flutter.embedding.android.NormalTheme"
                          android:resource="@style/NormalTheme"/>
                      
                      <intent-filter>
                          <action android:name="android.intent.action.MAIN"/>
                          <category android:name="android.intent.category.LAUNCHER"/>
                      </intent-filter>
                  </activity>
                  
              </application>
              
              <queries>
                  <intent>
                      <action android:name="android.intent.action.PROCESS_TEXT"/>
                      <data android:mimeType="text/plain"/>
                  </intent>
              </queries>
          </manifest>
          EOF
      
      - name: Get dependencies
        run: flutter pub get
      
      - name: Build APK
        run: |
          if [ "${{ github.event.inputs.build_type }}" == "release" ]; then
            flutter build apk --release
          else
            flutter build apk --debug
          fi
      
      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: app-${{ github.event.inputs.build_type }}
          path: build/app/outputs/flutter-apk/*.apk
